body {
    font-family: helvetica, arial, sans-serif; 
    background: #340093; /* purple background   */
    }
    .header {
      padding: 1px; /* some padding */
      text-align: left; /* left align the text */
      background: #340093; /* purple background */
      color: #ffb936; /* yellow text color */
      text-decoration: none; /* Remove underline */
    }
    a:link, a:visited {
      background-color: #340093;
      color: #ffb936; /* yellow text color */
      padding: 8px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    
    a:hover, a:active {
      background-color: #340093;
    }
    /* Increase the font size of the <h1> element */
    .header h1 {
      font-size: 20px;
    }
    /* Style the top navigation bar */
    .navbar {
      overflow: hidden; /* Hide overflow */
      background: #340093; /* purple background */
    }
    
    /* Style the navigation bar links */
    .navbar a {
      float: left; /* Make sure that the links stay side-by-side */
      display: block; /* Change the display to block, for responsive reasons (see below) */
      color: #ffb936; /* yellow text color */
      text-align: center; /* Center the text */
      padding: 14px 20px; /* Add some padding */
      text-decoration: none; /* Remove underline */
    }
    
    /* Right-aligned link */
    .navbar a.right {
      float: right; /* Float a link to the right */
    }
    
    /* Change color on hover/mouse-over */
    .navbar a:hover {
      background-color: #200229; /* deeper purple background color */
      color: #faa405; /* deeper yellow text color */
    }
    /* Ensure proper sizing */
    * {
      box-sizing: border-box;
    }
    
    /* Column container */
    .row {
      display: flex;
      flex-wrap: wrap;
    }
    
    /* Create two unequal columns that sits next to each other */
    /* Sidebar/left column */
    .side {
      flex: 20%; /* Set the width of the sidebar */
      background-color: #340093;
      padding: 20px; /* Some padding */
    }
    
    /* Main column */
    .main {
      flex: 80%; /* Set the width of the main content */
      background: #340093; /* purple background */
      padding: 10px; /* Some padding */
    }
    
    /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 700px) {
      .row {
        flex-direction: column;
      }
    }
    
    /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
    @media screen and (max-width: 400px) {
      .navbar a {
        float: none;
        width: 100%;
      }
    }
    .footer {
      padding: 1px; /* Some padding */
      text-align: left; /* left align the text */
      background: #340093; /* purple background */
      color: #ffb936; /* yellow text color */
      font-size: 10px;
    }