---
layout: world.njk
title: "Immersive Galleries World"
description: "Immersive art world exploring immersive galleries"
domain: art
permalink: /art/immersive-galleries/
worldFile: immersive_galleries_world.html
---
