---
layout: world.njk
title: "Visual Abstraction World"
description: "Immersive art world exploring visual abstraction"
domain: art
permalink: /art/visual-abstraction/
worldFile: visual_abstraction_world.html
---
