---
layout: world.njk
title: "Interactive Art World"
description: "Immersive art world exploring interactive art"
domain: art
permalink: /art/interactive-art/
worldFile: interactive_art_world.html
---
