---
layout: world.njk
title: "WAVGEN :: ANALOG RECORDING"
description: "Immersive music world exploring analog recording"
domain: music
permalink: /music/analog-recording/
worldFile: analog_recording_world.html
---
